body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #3E4F60;
  }
  * {
    border: 0;
  }
  
  /*Navigation Styles*/
  
  nav ul {
    width: 100%;
    height: 3rem;
    background: #3E4F60;
    color: white;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0rem 4rem;
    font-size: .8rem;
    font-weight: bold;
    flex-flow: wrap;
    margin: 0;
    border: 0;
    list-style-type: none;
  }
  
  nav ul li {
    flex: 0 0 auto;
    margin-right: 2rem;
  }
  nav ul li:nth-child(1) {
    margin-right: auto;
  }
  nav a {
    color: #BBCADA;
    text-decoration: none;
  }
  
  nav a:hover {
   color:#F0EEE1;
   cursor: pointer;
  }
  
  /* Hero Styles */
  
  #hero {
    width: 100%;
    margin: 0 auto;
    height: 450px;
    background: url("../images/index_bg.jpg") no-repeat left center;
    color:white;
    display: flex;
    text-align: center;
  }
  #lead_text {
    margin: 8% auto;
  }
  #lead_text h2 {
    font-size: 2rem;
    margin-bottom: 5%;
    color: #fff;
  }
  #lead_text h1 {
    font-size: 6rem;
    margin: 0% 0% 10% 0%;
    color: #F99F1C;
  }
  #get_started {
    padding: 0.7rem;
    background: #3E4F60;
    color: #BBCADA;
    font-weight: bold;
    border: 4px solid #BBCADA;
  }
  #get_started:hover {
    cursor: pointer;
    color: #F0EEE1;
  }
  
  /*Three section ***/
  #column {
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;
    color: #3E4F60;
  
  }
  .column_1 {
    flex: 1;
    padding: 1rem
  }
  .column_1 .icons {
    width: 6rem;
    height: auto;
    margin: auto 4rem;
    border: 2px solid #F99F1C;
    border-radius: 50%;
    padding: 0.5rem;
  }
  #how_it_works {
    padding: 2rem;
  }
  .bordered {
    border-right: 1px solid #F99F1C;
  }
  
/** LOG IN **/
#two_col {
    display: flex;
    z-index: 3;
    min-height: 500px;
    height: auto;
  }
  
  
  #two_col .col_1{
    flex: 3;
    background: #F99F1C;
    box-sizing: border-box;
    padding: 1rem;
    z-index: -1;
    position: relative;
  }
   #col_content {
    text-align: left;
    color: #fff;
    position: absolute;
    left: 5%;
    top: 25%;
  }
   #col_content h1{
    font-size: 4rem;
    margin: 0;
  }
   #col_content h2{
    color: #3E4F60;
  }
  #col_content p{
    font-size: 1rem;
    border-top: 1px solid #3E4F60;
    border-bottom: 1px solid #3E4F60;
    padding: 0.5rem;
  }
  
  #two_col .col_1::after {
    position: absolute;
    width: 100%;
    height: 80%;
    content: '';
    background: url("../images/login.jpg") no-repeat top center;
    opacity: 0.5;
    top: -10px;
    right: 0;
    left: 0;
    bottom: 0;
    transform-origin: top left;
    transform: skewY(-8deg);
    z-index: 2;
  }
  
  #two_col .col_2{
    padding: 2rem;
    flex: 2;
    background: #F0EEE1;
    box-sizing: border-box;
  }
  
  label {
   font-style: italic;
  }
  input[type=email], input[type=password], input[type=text] {
    width: 90%;
    padding: 0.8rem;
    border-radius: 0.5rem;
    border: 1px solid #3E4F60;
    margin: 0.4rem 0.4rem 0.5rem 0.4rem;
    transition: 1s;
  }
  
  input[type=email]:focus, input[type=password]:focus, input[type=text]:hover {
    border: 2px solid #F99F1C;
  
  }
  
  #btn_login {
    width: 100%;
    padding: 1rem;
    border-radius: 0rem;
    background: #F99F1C;
    color: #F0EEE1;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 1rem;
    margin: 1rem 0rem;
  }
  button:hover {
    cursor: pointer;
  }
  .center {
    text-align: center;
  }
  .center a {
   
    color:#3E4F60;
    text-decoration: none;
  }
  
  .center a:hover {
    color: #BBCADA;
   cursor: pointer;
  }
  

  /* Footer Styles **/
  footer {
    width: 100%;
    height: auto;
    text-align: center;
    background: #3E4F60;
    color: #BBCADA;
    box-sizing: border-box;
    padding: 1rem;
  }
  
  /***** MEDIA QUERIES FOR RESPONSIVENES ***/
  @media screen and (max-width: 900px){
    .column_1 .icons {
      width: 4rem;
      height: auto;
      margin-top: 2rem;
    }
  }
  @media screen and (max-width: 700px) {
    #column {
      display: flex;
      flex-direction: column;
    }

    .column_1 .icons {
      width: 6rem;
      height: auto;
      margin-top: 2rem;
    }

    #hero {
      background: url("../images/index_bg_700px.jpg") no-repeat left center;
      height: 310px;
    }

    
  #lead_text {
    margin: 10% auto;
  }
  #lead_text h2 {
    font-size: 1.4rem;
    margin-bottom: 3%;
  }
  #lead_text h1 {
    font-size: 4rem;
    margin: 0% 0% 4% 0%;
  }
  #get_started {
    padding: 0.4rem;
  }

    .column_1 {
      flex: 1;
      padding: 0.1rem
    }
    .unbordered {
      border-right: 1px solid #F99F1C;
    }
    #col_content {
        display: none;
    }

    /** Log in **/
  #two_col {
    flex-direction: column;
  }
  
  
  #two_col .col_1{
    display: none
  }
  
  #two_col .col_2{
    padding: 2rem;
    flex: 1;
    background: #F0EEE1;
    box-sizing: border-box;
  }
  #profile_column {
    flex-direction: column;
  }

  #profile_column .col_2 , #profile_column .col_3 {
    text-align: justify
  }
  #two_col_order {
    flex-direction: column;
  }

} /*end of media queries*/
  
   